body{
    margin:0;
    background-color: black;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
}
.painel{
    display:flex;
    justify-content: center;
    padding: 50px;
    height: 50px;
    background-color: rgb(18, 21, 39);
    
}
.button-menu{
    padding: 10px 60px 10px 60px ;
    background-color: rgb(22, 25, 42);
    border-radius: 20px;
    margin-inline: 30px;
    color: white;

    box-shadow: 0 0 2px grey;

}
.painel a{
    text-decoration: none;
}

.rede{
    background-color: rgb(61, 58, 67);
    height: 400px;
    width: 300px;
    box-shadow: 0 0 7px rgb(181, 181, 181);
    border-radius: 20px;
    margin-top: 200px;
}
.redes{
    display: flex;
    justify-content: space-around;

}
.redes img{
    height: 60px;
    width: 60px;
    position: absolute;
}
.redes a{
    text-decoration: none;
    color: white;
    text-align: center;
}

