.atividadeTabuada{
    display: grid;
   
    grid-template-columns: [tabuada1-inicio] 20% [tabuada1-end tabuada2-inicio] 20% [tabuada2-end tabuada3-inicio] 20% [tabuada3-end tabuada4-inicio] 20% [tabuada4-end tabuada5-inicio] 20% [tabuada5-end];
    grid-template-rows: [row1-inicio] 250px [row1-end row2-inicio] 250px [row2-end];
}
.tabuada1{
    grid-column: tabuada1-inicio / tabuada1-end;
    grid-row: row1-inicio / row1-end;
}
.tabuada2{
    grid-column: tabuada2-inicio / tabuada2-end;
    grid-row: row1-inicio / row1-end;
}
.tabuada3{
    grid-column: tabuada3-inicio / tabuada3-end;
    grid-row: row1-inicio / row1-end;
}
.tabuada4{
    grid-column: tabuada4-inicio / tabuada4-end;
    grid-row: row1-inicio / row1-end;
}
.tabuada5{
    grid-column: tabuada5-inicio / tabuada5-end;
    grid-row: row1-inicio / row1-end;
}
.tabuada6{
    grid-column: tabuada1-inicio / tabuada1-end;
    grid-row: row2-inicio / row2-end;
}
.tabuada7{
    grid-column: tabuada2-inicio / tabuada2-end;
    grid-row: row2-inicio / row2-end;
}
.tabuada8{
    grid-column: tabuada3-inicio / tabuada3-end;
    grid-row: row2-inicio / row2-end;
}
.tabuada9{
    grid-column: tabuada4-inicio / tabuada4-end;
    grid-row: row2-inicio / row2-end;
}
.tabuada10{
    grid-column: tabuada5-inicio / tabuada5-end;
    grid-row: row2-inicio / row2-end;
}
.tabuada1, .tabuada2, .tabuada3, .tabuada4, .tabuada5, .tabuada6, .tabuada7, .tabuada8, .tabuada9, .tabuada10{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}