
@font-face {
  font-family: 'Montserrat';
  src: url('../../montserrat/Montserrat-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to left top, rgb(219, 3, 227), rgb(6, 175, 226));
  font-family: 'Montserrat';
}



.sidebar{
    padding-inline: 28%;

}
label{
    text-align: left;
}
.painel-formulario{
    height: 400px;
    margin-top: 100px;
    margin-inline: 100px;
    background-color: white;
    box-shadow: 0 0 10px  rgb(108, 104, 104);
}
form{
    width: 100%;
    display: absolute;

}
input{
    box-shadow: 0 0 2px rgb(108, 104, 104);
    width: 300px;
    height: 35px;
    border: 0 solid;
}

#gradiant{
    background: linear-gradient(270deg, rgb(219, 3, 227), rgb(6, 175, 226));
    border:0 white solid;
    color: white;
}
h1{
    margin-top: 90px;
    text-align: center;
}
.conj-input{
    margin-inline: 80px;
}
.criar{
    text-align: center;
}

a{
    text-decoration: none;
    color:  rgb(6, 175, 226);
}