body{
    margin: 0;
    padding: 0;
}
main{
    margin:0;
    padding:0;
    height: 100vh;
    display:grid;
    grid-template: 
    "header header" 20vh
    "nav contente" 
    "footer footer" 20vh
    / 20vw auto
    ;

    gap: 10px;
}
.header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
    color: white;
}
.nav{
    grid-area: nav;
    background-color:#444454;
    color: white;

}
.content{
    grid-area: contente;
    background-color: rgb(220, 220, 220);
}
.footer{
    grid-area: footer;
    background-color: black;
    color: white;
}
.header,.nav,.content,.footer{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
