@font-face {
  font-family: 'Montserrat';
  src: url('../../montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'Montserrat';
}
.titulo-{
    background-color: rgb(211, 211, 211);
    text-align: center;
    /* border-radius: 10%; */
    margin:50px;
    padding: 50px;
}
.linkGit{
    color: rgb(10, 149, 47);

}
.linkGit:hover{
    color:rgb(2, 94, 115);
}
