@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-thin';
  src: url('montserrat/Montserrat-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.titulo-aula{
    text-align: center;
    padding: 30px;
}
.explicacao{
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-left: solid 2px grey;
}  
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
.subtitulo{
    font-size: 20px;
    color: rgb(114, 114, 114);
}
.header-tela{
    background-color: rgb(236, 236, 236);
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.atividades {
    margin-inline: 152px;
}
.content-wrapper {
    margin: 68px;
    padding: 32px;
}
.cabecalho{
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-header{
    text-decoration: none;
    color:inherit;
}
.button-header{
    display: inline;
    margin-inline: 40px;
    color: rgb(94, 94, 94);
}
.painel-titulo {
  margin-top: 60px;

  text-align: center;
}
.titulo{
    font-size: 100px;
    margin-top: 240px;
    margin-bottom: 0;  color:rgb(152, 146, 164);
}
.legenda-titulo{
    margin:0;
    color: rgb(94, 94, 94);
}
code{
    color:cadetblue;
}
.code-explicacao{
    background-color: rgb(26,26,26);
    color: #a44f04;
    padding: 30px;
}
.codigo-cor{
    color: rgb(97, 218, 251);
}
.metodo-cor{
    color:darkkhaki
}