body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;

    
}

.button-options{
    width: 50px;
    height: 50px;
    background-color: black;
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}
.option-1{

    width: 26px;
    height: 5px;
    background-color: white;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 50px;
}
.option-2{
    width: 26px;
    height: 5px;
    background-color: white;
    margin-left: 12px;
    margin-top: 5px;
    border-radius: 50px;
}
.option-3{
    width: 26px;
    height: 5px;
    background-color: white;
    margin-left: 12px;
    margin-top: 5px;
    border-radius: 50px;
}

.titulo{
    text-align: center;
    color:white;
    margin: 0;
}