.atividade1{
    display: grid;
    grid-template-columns: [variant-inicio] auto [variant-end resumo-inicio] 250px [resumo-end];
    grid-template-rows:
    [resumo-inicio] 120px 
    [resumo-end variant1-inicio] 70px 
    [variant1-end botao1-inicio] 60px
    [botao1-end variant2-inicio] 70px
    [variant2-end botao2-inicio] 60px
    [botao2-end variant3-inicio] 70px
    [variant3-end botao3-inicio] 60px
    [botao3-end variant4-inicio] 70px
    [variant4-end botao4-inicio] 60px
    [botao4-end variant5-inicio] 70px
    [variant5-end botao5-inicio] 60px
    [botao5-end variant6-inicio] 70px
    [variant6-end botao6-inicio] 60px
    [botao6-end variant7-inicio] 70px
    [variant7-end botao7-inicio] 60px
    [botao7-end]
    ; 
}
.metodo{
    color:#DCDCAA
}
.document{
    color:#9CDCFE;
}
.texto{
    color: #CE9178
}
.resume{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 25%;
}
.formato{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 5px;
    border-radius: 10%;
    width: 100px;
    height: 20px;
}

.resumo{
    grid-column: variant-inicio / resumo-end;
    grid-row: resumo-inicio / resumo-end;
}
.variant1{
    grid-column: variant-inicio / variant-end;
    grid-row: variant1-inicio / variant1-inicio;
}
.variant2{
    grid-column: variant-inicio / variant-end;
    grid-row: variant2-inicio / variant2-inicio;
}
.variant3{
    grid-column: variant-inicio / variant-end;
    grid-row: variant3-inicio / variant3-inicio;
}
.variant4{
    grid-column: variant-inicio / variant-end;
    grid-row: variant4-inicio / variant4-inicio;
}
.variant5{
    grid-column: variant-inicio / variant-end;
    grid-row: variant5-inicio / variant5-inicio;
}
.variant6{
    grid-column: variant-inicio / variant-end;
    grid-row: variant6-inicio / variant6-inicio;
}
.variant7{
    grid-column: variant-inicio / variant-end;
    grid-row: variant7-inicio / variant7-inicio;
}

.resumo1{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant1-inicio / variant1-end;
}
.resumo2{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant2-inicio / variant2-end;
}
.resumo3{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant3-inicio / variant3-end;
}
.resumo4{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant4-inicio / variant4-end;
}
.resumo5{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant5-inicio / variant5-end;
}
.resumo6{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant6-inicio / variant6-end;
}
.resumo1{
    grid-column: resumo-inicio / resumo-end;
    grid-row: variant7-inicio / variant7-end;
}

.botao1{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao1-inicio / botao1-end;
}
.botao2{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao2-inicio / botao2-end;
}
.botao3{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao3-inicio / botao3-end;
}
.botao4{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao4-inicio / botao4-end;
}
.botao5{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao5-inicio / botao5-end;
}
.botao6{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao6-inicio / botao6-end;
}
.botao7{
    grid-column: resumo-inicio / resumo-end;
    grid-row: botao7-inicio / botao7-end;
}
.buttonTest{
    display:flex;
    justify-content: end;
}
.formato:hover{
    border:solid 1px #1f1f1f;
    color: #1f1f1f;
    cursor: pointer;
}
.variant{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 6px;
    color: white;
}

.interacao{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.button-ex1{
    padding-inline: 20px;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10%;
}
.apresentacaoExemplo{
    display: grid;
    grid-template-columns: [code-inicio] auto [code-end apresentacao-inicio] 250px [apresentacao-end];
    grid-template-rows: [code-inicio] 200px [code-end];
}
.variant8{
    grid-column: code-inicio / code-end;
    grid-row: code-inicio / code-end;
}
.botao8{
    grid-column: apresentacao-inicio / apresentacao-end;
    grid-row: code-inicio / code-end;
}
.buttonTest8{
    display: flex;
    justify-content: center;
    align-items: center;
}
.atributoCriado{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: white;
}
#exemplo8{
    border-radius: 10px;
    margin-top: 20px;
}