.atividade1, .atividade3, .tividade4, .atividade5, .atividade6{
    height: 400px;
    border: solid 1px;
}
.atividade2{
    height: 800px;
    border: solid 1px;
}
.atividade3{
    height: 800px;
    border: solid 1px;
}
/* DISPLAYS */
.displayflex{
    display: flex;
}
span{
    display: block;
}
.pinline{
    display: inline;
}
.navegacao{
    padding: 20px;
    background-color: aqua;
    text-align: center;
    list-style-type: none;
}
.navegacao li{
    display: inline-block;
    padding: 0 20px;
}

.quadrados{
    height: 50px;
    width: 80px;
    border: solid black 1px;
}

/* FLOATS */
.exemplo1{
    width: 500px;
    margin: 50px auto;
    border: solid black 1px;
}
.imgnews{
    height: 80px;
    float: left;
    padding-right: 30px;
}

.exemplo2{
  margin:50px auto;  
  background-color: rgb(203, 201, 201);
  height: 240px;
  padding: 50px;
}
.destaque{
    margin:20px;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border: solid black 1px;
    border-radius: 20px;
    text-align: center;
    float: left;
}

/* POSITION */
.explicacao{
    color:grey;
    font-size: 10px;
    width: 200px;
    margin-left:20px;
    position:absolute;
}
.capsula{
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    margin-top: 100px;
    margin-left: 200px;
    overflow: auto;/* tranforma em uma pequena janela */
}
.testeposition{
    position: relative;
    top: 90px;
    left: 90px;
    background-color: yellowgreen;
}
code{
    color:cadetblue;
}