@font-face {
  font-family: 'Montserrat';
  src: url('../../montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'Montserrat';
}
.titulo-aula{
    font-family: 'Montserrat';
}
@font-face {
  font-family: 'Montserrat-thin';
  src: url('../../montserrat/Montserrat-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.explicacao{
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-left: solid 2px grey;
}
.content-wrapper{
    margin: 68px;
    padding: 32px;
}
.atividades{
    margin-inline: 152px;
}
.subtitulo{
    font-size: 20px;
    color: rgb(114, 114, 114);
}
/* DISPLAYS */
#displays, #floats, #position, #zindex, #stick{
    text-align: center;
    padding: 30px;
}
.panel-inline{
    padding-inline: 32px;
    padding-bottom: 10px;
    font-size: 10px;
}
.displayflex{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.comspan{
    margin-top: 30px;
    margin-bottom: 10px;
}
span{
    display: block;
}
.pinline{
    display: inline;
}
.navegacao{
    padding: 20px;
    background-color: aqua;
    text-align: center;
    list-style-type: none;
}
.navegacao li{
    display: inline-block;
    padding: 0 20px;
}

.quadrados{
    height: 50px;
    width: 80px;
    border: solid black 1px;
}

/* FLOATS */
.exemplo1{
    width: 500px;
    margin: 50px auto;
    border: solid black 1px;
}
.imgnews{
    height: 200px;
    float: left;
    padding-right: 30px;
}

.exemplo2{
    margin:50px auto;  
    border-left: 2px solid gray;
    height: 240px;
    padding: 50px;
}
.destaque{
    margin:20px;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border: solid black 1px;
    border-radius: 20px;
    text-align: center;
    float: left;
}

/* POSITION */

.capsula{
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    margin-top: 100px;
    margin-left: 200px;
    overflow: auto;/* tranforma em uma pequena janela */
}
.testeposition{
    position: relative;
    top: 90px;
    left: 90px;
    background-color: yellowgreen;
}
code{
    color:cadetblue;
}

/* Z-index*/
#legenda{
    margin-top: 210px;
}
.tudo{
    position: relative;
}
.area-1, .area-2, .area-3, .area-4, .area-5{
    width: 400px;
    text-align: center;
    padding: 32px;
}
.area-1{
    background-color: rgb(66, 66, 66);
    color: white;
    top: 60px;
    left: 80px; 
    position: absolute;
    z-index: 5;
}
.area-2{
    background-color: rgb(225, 162, 2);
    top:80px;
    left: 120px;
    position:absolute;
    z-index: 2;
} 
.area-3{
    background-color: rgb(1, 1, 79);
    color:white;
    position: absolute;
    left:300px;
    z-index: 1;
}
.area-4{
    background-color: rgb(79, 1, 61);
    color:white;
    position: absolute;
    top:90px;
    z-index:3;
}
.area-5{
    background-color: rgb(0, 55, 34);
    color:white;
    position: absolute;
    top: 20px;
    z-index: 4;
}
.explicacao2{
    color:grey;
    font-size: 13px;
    width: 200px;
    margin-left:20px;
    margin-top: 180px;
    position:absolute;
}
/* Sticky */


/* Fixed */
.atividade6{
    margin-top: 10%;
    position:absolute;
    right: 20px;
    padding: 14px;
    position: fixed;
}
.menu{
    position: absolute;
    width: 3%;
    /* height: ; */
}
.opcao{
    margin: 70px 0px 0 0;
    background-color: grey;
    width: 8px;
    height: 8px;
    border-radius: 100%;

}
.p-sticky{
    position: sticky;
}