/* LISTAGEM */
.listar_livro{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto;
    min-height: 0;
    height: 530px;
}

/* CARD */
.card{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.card:hover{
    transform: translateY(-5px);
}

/* IMAGEM */
.imagem{
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-radius: 15px;
}

.imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TITULO */
.nome-livro{
    font-size: 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: [nome-inicio] auto [nome-fim status-inicio] 38px [status-fim];
    gap: 2px;

}

/* STATUS */
.status-livro{
    align-self: flex-end;
    background-color: #2f2f2d;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    grid-column: status-inicio / status-fim;
}

/* DESCRIÇÃO */
.descricao{
    font-size: 14px;
    color: #666;
    flex-grow: 1;
}

/* GÊNEROS */
.painel-genero{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tag{
    background-color: #e5e5e5;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}