.content-wraper{
    display: grid;
    grid-template-columns: [cadastro-inicio]40% [cadastro-fim listagem-inicio] 60% [listagem-fim];
}
.cadastrar_livro{
    grid-column: cadastro-inicio / cadastro-fim;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listar_membro{
    grid-column: listagem-inicio / listagem-fim;
    display: flex;
}
h2{
    margin: 0px 0px 15px 0px;
}
.input_text{
    height: 40px;
    width: 250px;
    font-size: 20px;
    padding-inline: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.checkbox-group{
    font-size: 12px;
    padding: 20px;
    width: 250px;
    border: 3px solid grey;
    border-radius: 10px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 10px 30px; /* linha / coluna */
}
.group1{
    columns: coluna1 / coluna2;
}
.group2{
    columns: coluna2 / coluna3;
}

.lista{
    align-self: center;
    justify-self: center;
    height: 507px;        
    overflow-y: auto;   
}
tr{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
table{
    width: 700px;
    border: 1px solid black;
    overflow-y: auto;
}

.msg-error{
    color: red;
}

th {
    position: sticky;
    top: 0;              
    background-color: rgb(49, 49, 49);
    color: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}
