body, html{
 height: 100%; width: 100%; margin: 0; padding: 0;
}
.img-menu{
    height:70px ;
}
header{
    background-color: #2f2f2d;
    display: grid;
    grid-template-columns:[menu-inicio]200px[menu-end painelmenu-inicio]17fr [painelmenu-end] ;
    grid-template-rows: [cabecalho-inicio]70px[cabecalho-end];
    color: white;
}

.painel-button{
    grid-column: menu-inicio / menu-end;
    grid-row: cabecalho-inicio / cabecalho-end;
    background-color: gray;
   
}
.painel-menu{
    grid-column: painelmenu-inicio / painelmenu-end;
    grid-row: cabecalho-inicio / cabecalho-end;
    
}
.painel-menu-grid{
    display: grid;
    grid-template-columns: [titulo-inicio] 4fr [titulo-end input-inicio] 9fr[input-end conta-inicio] 7fr[conta-end];
    grid-template-rows: [painel-inicio] 70px [painel-end];
}
.titulo{
    grid-column: titulo-inicio / titulo-end;
    grid-row: painel-inicio / painel-end;
    display: flex;
    align-items: center;
}
.campo-pesquisa{
    grid-column: input-inicio / input-end;
    grid-row: painel-inicio / painel-end;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conta-info{
    grid-column: conta-inicio / conta-end;
    grid-row: painel-inicio / painel-end;
    display: flex;
    justify-content: end;
    align-items: center;
}
#pesquisa{

    padding-inline: 20px;
    width: 100%;
    font-size: 30px;
    border-radius: 20px;

}
.imagem-perfil{
    margin-inline: 30px;
}
.nome-usuario{
    font-size: 20px;
}
.legenda-tipo{
    margin: 0 0 0 30px;
}
.content{
    height: 100%;
    display: grid;
    grid-template-columns: [menu-inicio] 200px [menu-end content-inicio] 17fr [content-end];
    grid-template-rows: [content-inicio] 100% [content-end];
}
.menu-button{
    grid-column: menu-inicio / menu-end;
    grid-row: content-inicio / content-end;
}
.menu-fixed{
    /* position: fixed; */
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #232322;
    grid-template-columns: [button-inicio] 3fr [button-end];
    grid-template-rows: [button1-inicio]60px [button2-inicio] 60px [button3-inicio] 60px [button3-end];
    color: white;
}

.button1-menu{
    grid-template-columns: button-inicio / button-end;
    grid-row: button1-inicio / button2-inicio;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2-menu{
    grid-template-columns: button-inicio / button-end;
    grid-row: button2-inicio / button3-inicio;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button3-menu{
    grid-template-columns: button-inicio / button-end;
    grid-row: button3-inicio / button3-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wraper{
    grid-column: content-inicio / content-end;
    grid-row:content-inicio / content-end;
    height: 90%;
}
a:link, a:visited { color: rgb(255, 255, 255); /* cor fixa para todos os links */ text-decoration: none; /* sem sublinhado */ } a:hover { color: rgb(57, 56, 56); /* cor ao passar o mouse */ } a:active, a:focus { outline: none; /* remove o tracejado */ }